body{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin: 0 0 0 0;

    
}

header{
    grid-area: header;
    background-color: lightcyan;
    img{
        display: block;
        margin: auto auto 

    }
    h1{
        display: none;
    }
}

main{
    grid-area: main;
    width: 100%;
    margin: 0 auto;
    height: 100vh;

    border-top-style: solid;
    border-top-color: black;
    h3{
       margin: auto;
       font-size: 2.5rem;
       text-align: center;
    }
}
div{
    background-color: white;
    section:nth-child(1){
        display:flex;
        }
        section{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100px;
                height: 50px;
                margin-left: auto;
                margin-right: auto;
            }
                div{
                    border: 2px solid black;
                    background-color: lightgray;
                    box-shadow: 3px 3px 2px black;
                }
            }
            p{
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-size: 2rem;
                span{
                    font-size: 2.2rem;
                    margin-right: 15px;
                }
            }
        }
    
    
    
    footer{
        grid-area: footer;
        background-color: honeydew;
    }
    
    @media screen and (min-width:800px){
        main{
            grid-area: main;
            width: 100%;
            background-color: honeydew;
            border-top-style: solid;
            border-top-color: black;
            margin: 0 auto;
            height: 100vh;
            h3{
               margin: auto;
            }
        }
    
        body{
            display: grid;

            
        }
        header{
            img{
                margin: auto auto;
            }
        }
        div{
            width: 80%;
            margin: auto;
            border-style: none solid solid solid;
            border-color: black;
            
        section{
                display: grid;
                padding-top: 10px;
                margin: auto;
                padding-bottom: 15px;
                p{
                    font-size: 2rem;
                    text-align: center;
                }
                h3{
                    font-size: 2.5rem;
                    text-align: center;
                }
            }
        }
        footer{
            grid-area: footer;
            background-color: honeydew;
        }
    }