body{
    display: grid;
    grid-template-rows: auto;
    grid-template-areas: 
    "header"
    "main"
    "footer";
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-right: 0px;
}

header{
    grid-area: header;
    background-color: lightcyan;
    h1{
        display: none;
    }
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;

    }
}

main{
    grid-area: main;
    width: 100%;
    margin: auto;

    border-top-style: solid;
    border-top-color: black;
    h3{
       margin: auto;
       font-size: 30px;
       text-align: center;
    }
}
div{
    background-color: white;
    section:nth-child(1){
        display:flex;


        }
        section{
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            img{
                width: 100px;
                height: 50px;
                margin-left: auto;
                margin-right: auto;
    
            }
    
    
                div{
                    border: 2px solid black;
                    background-color: lightgray;
                    box-shadow: 3px 3px 2px black;
                }
            }
            p{
                padding-left: 10px;
                padding-right: 10px;
                text-align: center;
                font-size: 20px;
                
                span{
                    font-size: 25px;
                    margin-right: 15px;
                }
            }
        }
    
    
    
    footer{
        grid-area: footer;
    }
    
    @media screen and (min-width:800px){
        main{
            grid-area: main;
            width: 100%;
            margin: auto;
            background-color: honeydew;
            border-top-style: solid;
            border-top-color: black;
    
            h3{
               margin: auto;
            }
        }
        header{
            grid-area: header;
            background-color: lightcyan;
        }
    
        body{
            display: grid;
            grid-template-rows: auto;
            margin-left: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            margin-right: 0px;
        }
        header{
            img{
                margin-right: auto;
                margin-left: auto;
            }
        }
        div{
            width: 80%;
            height: 100%;
            margin: auto;
            border-bottom-style: solid;
            border-right-style: solid;
            border-left-style: solid;
            border-color: black;
            
    
            section:nth-child(1){
                display:flex;
            }
        section{
                display: grid;
                padding-top: 10px;
                margin: auto;
                padding-bottom: 15px;
                p{
                    font-size: 20px;
                    text-align: center;
                }
                h3{
                    font-size: 30px;
                    text-align: center;
                }
            }
        }
    
    }